app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

app-form{
    position: fixed;
    top: 10vh;
    width: 100%;
    z-index: 999;
}

app-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}