<div class="form">
  <div class="card">
    <h2 class="title_card">
      {{title}}
    </h2>
    <div class="item">
      <p> Country </p>
      <mat-form-field>
        <mat-label>Select a country.</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> City: </p>
      <mat-form-field>
        <mat-label>Select a city</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> Airport </p>
      <mat-form-field>
        <mat-label>Select an Airport</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>