<div class="panel">
  <div class="form">
    <img src="../../../assets/icons/airport.png" alt="" class="icon">
    <div class="item">
      <p> Country </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> Origin City:  </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> Airport </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form">
    <img src="../../../assets/icons/plane.png" alt="" class="icon">
    <div class="item">
      <p> Country </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> Origin City:  </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> Airport </p>
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div> <br>
  <button mat-flat-button color="primary">Get weather</button>
</div>