<div class="form">
  <div class="card">
    <h2 class="title_card">
      {{title}}
    </h2>
    <div class="item">
      <p> Country </p>
      <mat-form-field>
        <mat-label>Select a country.</mat-label>
        <mat-select (selectionChange)="getCitiesByCountry($event.value)">
          <mat-option *ngFor="let country of countries" 
          [value]="country" required
          #countrySelect>{{country}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> City: </p>
      <mat-form-field>
        <mat-label>Select a city</mat-label>
        <mat-select (selectionChange)="getAirportsByCity($event.value)" >
          <mat-option *ngFor="let city of cities"
          [value]="city" required>{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p> Airport </p>
      <mat-form-field>
        <mat-label>Select an Airport</mat-label>
        <mat-select (selectionChange)="getInfoAirport($event.value); 
        isAirportSelected=true">
          <mat-option *ngFor="let airport of airports"
          [value]="airport" >{{airport}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>