header{
    display: flex;
    background-color: rgba(0, 0, 0);
    color: white;
    height: 10vh;
    font-size: large;
    display: flex;
    align-items: center;
}

header img{
    height: 8vh;
    margin: 0;
    padding: 0;
    margin-left: .5em;
}

header h1{
    margin: 0;
    padding: 0;
    margin-left: .5em;
    font-size: 1.5em;
}