.panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 85vh;
    justify-content: center;
}

.question{
    display: flex;
    width: 80%;
    margin: 0 10%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

app-form{
    margin: 0;
    padding: 1em;
}


.button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 2em 0;
    border-radius: 10px;
}

.button button{
    background-color: rgba(0, 0, 0);
    font-size: 1.2em;
    padding: 2em;
    border-radius: 10px;
}


@media screen and (max-width: 500px) {

    .panel{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        margin-bottom: 3em;
    }

    .question{
        margin: 0;
        padding: 0;
        min-height: 110vh;
    }
}