<div class="result" *ngIf="originWeather && destinationWeather">
    <div class="wheater">
        <div class="info-wheather">
            <img src="./../../../assets/icons/airport.png" alt="">
            <div class="info">
                <h2>
                    {{originAirport.country}}, 
                    {{originAirport.city}} <br>
                    {{originAirport.airportName}}
                </h2>
                <p>Temperature: {{originWeather.current.temp}}°F </p>
                <p>Feels like: {{originWeather.current.feels_like}}°F </p>
            </div>
        </div>
        <div class="info-wheather">
            <img src="./../../../assets/icons/airport.png" alt="">
            <div class="info">
                <h2>
                    {{destinationAirport.country}}, 
                    {{destinationAirport.city}} <br>
                    {{destinationAirport.airportName}}
                </h2>
                <p>Temperature: {{destinationWeather.current.temp}}°F </p>
                <p>Feels like: {{destinationWeather.current.feels_like}}°F </p>
            </div>
        </div>
    </div>
    <div class="map">
        <app-map></app-map>
    </div>
</div>
