<div class="result">
    <div class="wheater">
        <div class="info-wheather">
            <img src="./../../../assets/icons/airport.png" alt="">
            <div class="info">
                <h2>Ciudad, Nombre del Aeropuerto</h2>
                <p>Temperatura</p>
                <p>Sensacion termica</p>
                <p>Prob lluvia</p>
            </div>
        </div>
        <div class="info-wheather">
            <img src="./../../../assets/icons/airport.png" alt="">
            <div class="info">
                <h2>Ciudad, Nombre del Aeropuerto</h2>
                <p>Temperatura</p>
                <p>Sensacion termica</p>
                <p>Prob lluvia</p>
            </div>
        </div>
    </div>
    <div class="map">
        <app-map></app-map>
    </div>
</div>
