.result{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 5%;
    min-height: 80vh;
    justify-content: center;
    margin-bottom: 2em;
}

.wheater{
    height: 100%;
    flex-basis: 47%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

app-map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.info-wheather {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 2em 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 80%;
    flex-wrap: wrap;
    color: #CCCCCC;
    border-radius: 10px;
}

.info-wheather:last-child{
    margin-top: 0;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2{
    text-align: center;
}

img{
    width: 25%;
}

@media screen and (max-width: 1020px){
    .result{
        flex-direction: column;
    }
    .map{
        width: 90%;
    }
}
